<h2 class="page-header">Dashboard</h2>
<p>Welcome to Login App</p>
{{#if user}}

  <div class="card">
    <div class="card-block">
      <a href="/order">Create New Order</a>
    </div>
  </div>


{{/if}}
