{{#if user}}

  <div class="col-lg-12 text-center">
    <h1>Order Form</h1>
    <em>Select Category Below</em>
  </div>

  <div class="row">
    <div class="col-lg-4 text-center">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Tee Shirts</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/LSTEE" class="btn btn-sm btn-primary">Long Sleeve Tees</a>
          <a href="#" class="btn btn-sm btn-primary">Short Sleeve Tees</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 text-center">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Hats</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-sm btn-primary">Snapback</a>
          <a href="#" class="btn btn-sm btn-primary">Trucker</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 text-center">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Swimsuits</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-sm btn-primary">One Piece Revival</a>
        </div>
      </div>
    </div>
  </div>




{{else}}
  <p>You must <a href="/users/login">login</a> to view this page</p>
{{/if}}
