{{#if user}}

  <div class="col-lg-12 text-center">
    <h1>Order Form</h1>
  </div>

  <div class="col-lg-12 text-center">
    <form>
      <div class="form-row">
        <p style="margin:auto">Your shipping location will help us set a price for the order</p>
        <div class="col-7">
          <input type="text" class="form-control" placeholder="City">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="State">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Zip">
        </div>
      </div>
    </form>
  </div>

  <div class="col-lg-12 text-center">
    <h2>Describe The Design</h2>
    <form id="userRequestForm" class="text-center form-row">

      <div class="justified">
        <textarea rows="4" placeholder="I want the AC/DC Logo, but with A/Phi" id="client_request"></textarea>
      </div>

    </form>
  </div>



{{else}}
  <p>You must <a href="/users/login">login</a> to view this page</p>
{{/if}}
