<div class="row">


  <div class="col-lg-6">
    <div id="revivalCard" class="card card-cascade">

      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h2 class="h2-responsive">Kalve</h2>
        <em>Revival</em>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body text-center">

        <p class="card-text">Your design, your logo, your "bride-tribe", your new favorite swimsuit
        </p>
      </div>
      <!--/.Card content-->

    </div>
  </div>



</div>
